@charset "UTF-8";
/* Настраиваемые стили */
.order-form {
    border: 5px solid #002866;
    background-color: #002866;
}

.main .container .form {
    padding: 20px 10px 10px 10px;

}



.order-form__header img {
    width: 35%;
    margin: -20px auto 0;

}

.order-bottom-text {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: #002866;
    margin: 10px -10px -10px -10px;
}


.order-form__body {
    border-radius: 30px;
    padding: 0.5rem;
    background-color: white;
}

.container.order-form {
    padding: 20px 10px 10px;

}

.order-form__body_content h1 {
    color: black;
    font-weight: 700;
    font-size: 2.5rem !important;
    width: 90%;
    margin: 0 auto;
}
.order-form__body_content img {
    margin-bottom: 15px;
}
.order-form__body_content h1,
.order-form__body_content_remark {
    margin-bottom: 1rem !important;

}
.order-form__body_content_remark {
    text-align: left;
    color: black;
    font-size: 14px;
    gap: 12px;
    font-weight: bold;
}
.order-form__body_content_remark ul li {
    font-family: inherit;
    font-size: 1rem;
}

.order-form__body_content img {
    max-width: 70%;
}

.order-form__body_content_price {
    vertical-align: middle;
    color: black;
    font-size: 2.5rem !important;
}

.order-form__body_content_old_price {
    vertical-align: middle;
    color: #886060;
    font-size: 1.5rem !important;
}

.order-form__body_fields form button {
    background-color: #d71920;
    font-size: 1.4rem !important;
    font-weight: 700;
    line-height: 0.8 !important;
}

.order-form__body_fields form button:hover {
    color: white;
}

.order-form__body_fields form img {
    margin-right: 0.4rem;
    width: 3.5rem;
}

.order-form__body_fields_btn_text {
    margin-left: 1rem;
}

.order-form__body_fields_btn_text span.text-lowercase {
    font-size: 1rem !important;
}

.order-form__bottom_remark {
    color: white;
    text-align: center !important;
    padding-top: 1.5rem !important;
    font-size: 2rem !important;
}

/* Не трубеющие настроек стили */
.order-form__body_content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    position: relative;
}


.order-form__body_content_remark {
    max-width: 83%;
    margin: 0 auto;
}

.order-form__body_fields {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.order-form__body_fields form {
    width: 90%;
    margin: 0 auto;
}

.order-form__body_fields form input, button {
    width: 100%;
}

.order-form__body_fields form button {
    height: calc(2em*2 + 0.5rem + 2px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-bottom: 1.5rem;
}

.order-form__body_fields_btn_text span.text-uppercase {
    vertical-align: middle !important;
}

/* Адаптация по ширине экрана от 230px */
@media all and (max-width: 767px) {
    .order-form__body_content_price {
        font-size: 2.4rem !important;
    }

    .order-form__body_content_old_price {
        font-size: 1.4rem !important;
    }

    .order-form__body_content_remark {
        font-size: .9rem;
    }
}

@media all and (max-width: 550px) {
    .order-form__body_content_price {
        font-size: 2.4rem !important;
    }

    .order-form__body_content_old_price {
        font-size: 1.4rem !important;
    }

    .order-form__body_content_remark {
        font-size: .9rem;
    }

    .order-form__body_content h1 {
        font-size: 2.4rem !important;
    }

    .order-form__bottom_remark {
        font-size: 1.8rem !important;
    }
}

@media all and (max-width: 400px) {
    .order-form__body_content_price {
        font-size: 2.2rem !important;
    }

    .order-form__body_content_old_price {
        font-size: 1.2rem !important;
    }

    .order-form__body_content_remark {
        font-size: .8rem;
    }

    .order-form__body_content h1 {
        font-size: 2.2rem !important;
    }

    .order-form__bottom_remark {
        font-size: 1.35rem !important;
    }
}
@media  screen and (max-width: 358px) {
    .order-form__body_fields form img {
        width: 3rem;
    }
    .order-form__body_fields form button {
        font-size: 0.8rem !important;
    }
}
@media all and (max-width: 320px) {
    .order-form__body_content_price {
        font-size: 1.8rem !important;
    }

    .order-form__body_content_old_price {
        font-size: 1rem !important;
    }

    .order-form__body_content_remark {
        font-size: .75rem;
    }

    .order-form__body_content h1 {
        font-size: 1.6rem !important;
    }

    .order-form__bottom_remark {
        font-size: 1.25rem !important;
    }

    .order-form__body_fields_btn_text span.text-lowercase {
        font-size: 11px !important;
    }

    .order-form__body_fields form img {
        margin-right: .3rem;
        width: 2rem;
    }

    .order-form__body_fields form button {
        font-size: 0.8rem !important;
    }

    .order-form__body_fields_btn_text {
        margin-left: .3rem;
    }
}

@media all and (max-width: 250px) {
    .order-form__body_content_price {
        font-size: 1.75rem !important;
    }

    .order-form__body_content_old_price {
        font-size: .95rem !important;
    }

    .order-form__body_content_remark {
        font-size: .7rem;
    }

    .order-form__body_content h1 {
        font-size: 1.45rem !important;
    }

    .order-form__bottom_remark {
        font-size: 1rem !important;
    }

    .order-form__body_fields_btn_text span.text-lowercase {
        font-size: .7rem !important;
    }

    .order-form__body_fields form img {
        margin-right: .5rem;
        width: 3.5rem;
    }

    .order-form__body_fields form button {
        font-size: 1rem !important;
    }

    .order-form__body_fields_btn_text {
        margin-left: .5rem;
    }
}

.button-text {

}
.button-text span:first-child {
    margin-bottom: 5px;
}
button .line {
    margin-right: 0.4rem;
    width: 3px;
    height: 70%;
    background-color: #FFFFFF;
}

@media screen and (min-width: 274px) {
    button .line {
        margin-right: 0.2rem;
        width: 1px;
    }
}


@media screen and (min-width: 320px) {
    button .line {
        margin-right: 0.4rem;
        width: 3px;
    }

    .order-form__body_fields form button {
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 300px) {
    .order-form__body_fields form button {
        font-size: 0.7rem !important;
    }
}


@media screen and (min-width: 400px) {
    .order-form__body_fields form button {
        font-size: 1rem !important;
    }
}